footer {
    background-color: rgb(232, 232, 232);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.footer-container > div {
    flex: 1 1 1;
    padding: 2em;
}

.footer-first-col {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.footer-resources {
    display: flex;
    flex-direction: column;
}

.footer-resources-link {
    font-size: 12pt;
    padding-left: 20px;
}

.footer-resources-link:hover {
    color: var(--accent-dark);
    transition-duration: 250ms;
}

.footer-contact-link {
    display: flex;
    align-items: center;
    font-size: 12pt;
    padding: 5px 0;
}

.footer-contact-link i {
    margin-right: 10px;
    font-size: 14pt;
}

.footer-contact-link:hover {
    color: var(--accent-dark);
    transition-duration: 250ms;
}

.footer-bottom {
    background-color: rgb(200, 200, 200);
    padding: 10px;
    text-align: center;
}