---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<head>
		<link href="src/styles/header.css" rel="stylesheet" />
	</head>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/technical">Projet</HeaderLink>
			<HeaderLink href="/form">Questionnaire</HeaderLink>
			<HeaderLink href="/about">Contact</HeaderLink>
		</div>
	</nav>
</header>

